
@media screen and (min-width: 600px) {
h1 {
	color:rgb(228, 151, 18);
}
	}
.sait {
 color: green;	
}
table{
     
     
}
.photo {
	border: 3px solid white;
	margin-right: 20px;
	height: 100px;
	
}
.photove {
	 border: 8px solid green;
}

@media screen and ( max-width: 600px) {
mom {
	 display:none;
}
	}
.e1{
	color:brown;
}

.active {
	text-decoration: none;
	font-weight: bold;
	color: brown;
}

#menu > ul > li{
	display: inline-block;
	margin-right: 10px;
}