h1 {
	color:red;
}
.sait {
 color: green;	
}
//table{
  //  background-color: white;
   // padding: 50px 100px 10px 30px;
}
.photo {
	border: 3px solid white;
	margin-right: 20px;
	height: 100px;
	
}
.photove {
	 border: 8px solid green;
}
