
@media screen and (min-width: 600px) {
h1 {
	color:red;
}
	}
.sait {
 color: green;	
}
table{
     
     
}
.photo {
	border: 3px solid white;
	margin-right: 20px;
	height: 100px;
	
}
.photove {
	 border: 8px solid green;
}

@media screen and (min-width: 600px) {
mom {
	 display:none;
}
	}
